<main class="main-todo">
  <section class="todo-container">
    <h1>TODO List</h1>
    <p>A place to store your todos</p>
    <form #todoFilter="ngForm" (input)="setTodoSearchTerm(todoFilter)">
      <input
        class="filter-todo"
        type="text"
        id="searchTerm"
        name="searchTerm"
        placeholder="Filter your to-dos"
        ngModel
      />
    </form>
    <ol class="main-list">
      <li *ngFor="let todo of filterTodos(); index as i">
        <div class="list-todos">
          <div class="detail-content">
            <button
              (click)="completeTask(i)"
              class="complete-button"
              *ngIf="todo.completed === false"
            >
              Complete
            </button>
            <p
              class="p-tag"
              [ngClass]="{ strikethrough: todo.completed }"
              (click)="setShowIndex(i)"
              *ngIf="showIndex !== i"
            >
              {{ todo.task }}
            </p>
            <form
              *ngIf="showIndex === i"
              #editForm="ngForm"
              (ngSubmit)="editTask(editForm, todo)"
            >
              <input
                class="edit-input"
                type="text"
                name="edit"
                [ngModel]="todo.task"
              />
              <button class="save-btn">Save</button>
            </form>
          </div>
          <img
            (click)="removeTask(i)"
            class="delete-btn"
            src="assets/cross.svg"
            alt=""
          />
        </div>
      </li>
    </ol>
    <form #todoForm="ngForm" (ngSubmit)="addTodos(todoForm)">
      <input
        class="filter-todo"
        type="text"
        id="addTodo"
        name="addTodo"
        placeholder="Add your to-dos"
        ngModel
      />
      <button class="add-btn">Add</button>
    </form>
  </section>
</main>
