.main-todo {
  display: flex;
  justify-content: center;
}
.strikethrough {
  text-decoration: line-through;
  opacity: 0.7;
}
.todo-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
}
.main-list {
  display: flex;
  flex-direction: column;
}
.list-todos {
  display: flex;
  justify-content: space-between;
}
.complete-button {
  border: 1px solid #ff69b4;
  background-color: white;
  color: #ff69b4;
  padding: 3px;
  height: 20px;
  border-radius: 3px;
}
.delete-btn {
  justify-content: space-between;
  height: 25px;
  width: 25px;
}
.p-tag {
  margin: 0 5px;
}
.detail-content {
  display: flex;
}
.filter-todo {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(245, 245, 245);
}
.add-btn {
  margin-top: 5px;
  width: 100%;
  color: white;
  background-color: #ff69b4;
  border: none;
  border-radius: 5px;
  height: 25px;
}
