.strikethrough {
  text-decoration: line-through;
  opacity: 0.7;
}
.main-todo {
  display: flex;
  margin: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.main-list {
  display: flex;
  flex-direction: column;
}
.list-todos {
  display: flex;
  justify-content: space-between;
}
.complete-button {
  border: 1px solid #ff69b4;
  background-color: white;
  color: #ff69b4;
  padding: 3px;
  height: 20px;
  border-radius: 3px;
}
.delete-btn {
  margin-left: 100px;
  justify-content: flex-end;
}
.p-tag {
  margin: 0 5px;
}
